<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	

</head>
<body>
	<div class="container-fluid">
    <div class="jumbotron">
      <form class="form-inline" action="/" method="GET">
        <label class="sr-only" for="inlineFormInputGroup">Search</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" name="search">
          </div>
      </form>
      <h1 class="display-3">MOVIE FINDER</h1>
      <p class="lead">This is a simple movie finder app for hard core cinefiles.</p> 
    </div>
        
        <%movieVerbose.forEach(function(movie){%>
            
       
		<div class="card " >
  			<img class="card-img-top" src="<%=movie.poster%>" alt="Card image cap">
  			<div class="card-block">
   			 	<h4 class="card-title"><%=movie.title%></h4>
    		 	<p class="card-text"><%=movie.plot%></p>
  			</div>
  			<ul class="list-group list-group-flush">
    			<li class="list-group-item"><%=movie.year%></li>
    			<li class="list-group-item"><%=movie.genre%></li>
    			<li class="list-group-item"><%=movie.actors%></li>
  			</ul>
  			
		</div>
		<% })%>
      
	</div>
	</body>